.list__container {
  background-image: linear-gradient(
    36.31deg,
    #fafaff 12.05%,
    rgba(255, 255, 255, 0) 1045.02%
  );
  text-align: start;
  font-size: 20px;
  width: 999px;
  height: 731px;
  border-radius: 5px;
}

.list__title {
  padding-left: 36px;
  padding-top: 20px;
  margin-top: 0px;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
.list__list {
  list-style-type: none;
}

.list__scroller {
  margin: 0 auto;
  height: 630px;
  overflow: auto;
}

ul::-webkit-scrollbar {
  width: 0.25rem;
}

ul::-webkit-scrollbar-track {
  background: #fafaff;
}

ul::-webkit-scrollbar-thumb {
  background: #5452f6;
  border-radius: 10px;
}

.list__hr {
  border: 0.5px solid #d0dae8;
}

.list__item-single {
  display: flex;
  align-items: center;
  text-align: start;
}

.list__item-title {
  font-size: 20px;
}

.list__text {
  font-size: 13px;
}
