.list__container {
  background-image: linear-gradient(
    36.31deg,
    #fafaff 12.05%,
    rgba(255, 255, 255, 0) 1045.02%
  );
  text-align: start;
  font-size: 20px;
  width: 999px;
  height: 731px;
  border-radius: 5px;
}

.list__title {
  padding-left: 36px;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.list__scroller {
  height: 630px;
  width: 960px;
  margin-top: 8px;
  margin-left: 32px;
  display: inline-block;
  overflow: auto;
  border-collapse: collapse;
  border: none;
}

.list__scroller::-webkit-scrollbar {
  width: 0.25rem;
}

.list__scroller::-webkit-scrollbar-track {
  display: none;
}

.list__scroller::-webkit-scrollbar-thumb {
  background: #5452f6;
  border-radius: 10px;
}

td {
  width: 200px;
}

.list__cell-image {
  width: 105px;
}

.list__cell-title {
  width: 180px;
  margin-left: 19px;
}

.list__hr {
  border: 0.5px solid #d0dae8;
}

.list__row {
  display: flex;
  align-items: center;
  text-align: start;
  height: 100px;
  border-bottom: 1px solid #d0dae8;
}

.list__img {
  border-radius: 5px;
}

.list__text {
  font-size: 13px;
}
