.posterImage__main {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  max-width: 658px;
  max-height: 731px;
  overflow: hidden;
}

.posterImage__title {
  font-family: Bennet Display;
  font-weight: bold;
  text-align: start;
  font-size: 78px;
  text-align: left;
  color: #f3f3ff;
  z-index: 100;
}

.posterImage_purple-filter {
  background: rgba(3, 0, 250, 0.4);
  position: absolute;
  width: 658px;
  height: 731px;
  z-index: 5;
  overflow: hidden;
}

.posterImage__image {
  z-index: 3;
  position: absolute;
}
