.posterImage__main {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 658px;
  height: 731px;
  overflow: hidden;
  margin-right: 12.5px;
}

.posterImage__title {
  font-family: Bennet Display;
  font-weight: bold;
  text-align: start;
  font-size: 78px;
  text-align: left;
  color: #f3f3ff;
  z-index: 100;
  margin-top: 10px;
  margin-left: 29px;
}

.posterImage_purple-filter {
  background: rgba(3, 0, 250, 0.4);
  border-radius: 5px;
  position: absolute;
  width: 658px;
  height: 731px;
  z-index: 5;
  overflow: hidden;
}

.posterImage__image {
  z-index: 3;
  position: absolute;
  border-radius: 5px;
  width: 658px;
  height: 731px;
  object-fit: cover;
  overflow: hidden;
}
