.header__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}

.header__a {
  color: white;
  text-decoration: none;
}

.header__svg {
  margin: 50px 0px 25px 55px;
}

.header__options {
  display: flex;
  align-items: center;
}

.header__interactable {
  background: #f3f3ff;
  border-radius: 5px;
  width: 316px;
  height: 44px;
  border: none;
  margin-left: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_interactable:hover {
  opacity: 1;
}

.header__icon,
.header__icon-search {
  width: 22px;
  height: 22px;
  color: #5452f6;
  margin-right: 10px;
  cursor: pointer;
}

.header__icon-search {
  margin-right: -10%;
  position: relative;
}
