.header__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__svg-container {
  margin-top: 50px;
  margin-right: 5%;
  margin-bottom: 25px;
}

.header__options {
  display: flex;
  align-items: center;
}

.header__interactable {
  background: #f3f3ff;
  border-radius: 5px;
  width: 316px;
  height: 44px;
  border: none;
  margin-left: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__icon,
.header__icon-search {
  width: 22px;
  height: 22px;
  color: #5452f6;
  margin-right: 10px;
  cursor: pointer;
}

.header__icon-search {
  margin-right: -10%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .header__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
  }
  .header__svg {
    margin: 0;
    width: 100%;
  }
  .header__options {
    display: block;
  }
  .header__icon-search {
    display: none;
  }
  .header__interactable {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 80vw;
  }
}

@media only screen and (min-width: 600px) {
  .header__options {
    display: flex;
  }
}
