.header__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__a {
  color: white;
  text-decoration: none;
  height: 129px;
}

.header__svg {
  margin: 50px 0px 25px 55px;
}
