.app__main {
  text-align: center;
  background-image: linear-gradient(
    347.71deg,
    #5452f6 12.93%,
    rgba(84, 82, 246, 0) 241.45%
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.app__content {
  margin: 25px 50px 25px 50px;
  padding-bottom: inherit;
  display: flex;
  justify-content: center;
}

@-ms-viewport {
  width: device-width;
}
