.App {
  text-align: center;
  background-image: linear-gradient(
    347.71deg,
    #5452f6 12.93%,
    rgba(84, 82, 246, 0) 241.45%
  );
  background-repeat: no-repeat;
}

.content {
  margin: 25px 50px 25px 50px;
}
